body {
  background-image: url("cloudy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-app-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 50px auto;
  max-width: 600px;
}
