body {
  background-image: url("cloudy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.weather-app-wrapper {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  margin: 50px auto;
  max-width: 600px;
}

@media (max-width: 720px) {
  .search-engine-buttons {
    margin: 10px 30px 0 0;
  }
  .form-search {
    width: 100%;
  }
}
